@import "../src/common/Color.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
font-family: "Open Sans", "Helvetica Neue",;
}
a{
  text-decoration: none;
}
body{
  background-color: $primary-color;
}
.container{
  margin: 0 40px;
}